<template lang="pug">
  v-dialog(v-model="pf_visible", max-width="1000px")
    v-card
      v-card-text
        v-form(ref="newProject", v-model="valid", lazy-validation)
          v-container(fluid grid-list-xl)
            v-layout(wrap, align-center)
              v-flex(xs12, d-flex)
                v-text-field(v-model="title", :rules="titleRules", :counter="20", label="Title", required)
              v-flex(xs12, d-flex)
                v-menu(ref="sdMenu", :close-on-content-click="false", v-model="sdMenu", :nudge-right="40", :return-value.sync="start_date", lazy, transition="scale-transition", offset-y, full-width, min-width="290px")
                  v-text-field(slot="activator", v-model="start_date", label="Start Date", readonly)
                  v-date-picker(v-model="start_date", scrollable, reactive)
                    v-spacer
                    v-btn(flat, @click="sdMenu = false") Cancel
                    v-btn(flat, @click="$refs.sdMenu.save(start_date)") Ok
              v-flex(xs12, sm3, d-flex)
                v-switch(v-model="dlSwitch", label="Deadline")
              v-flex(xs12, sm9)
                v-menu(ref="dlMenu", :close-on-content-click="false", v-model="dlMenu", :nudge-right="40", :return-value.sync="deadline", lazy, transition="scale-transition", offset-y, full-width, min-width="290px", :disabled="!dlSwitch")
                  v-text-field(slot="activator", v-model="deadline", label="Deadline", readonly)
                  v-date-picker(v-model="deadline", scrollable, reactive)
                    v-spacer
                    v-btn(flat, @click="dlMenu = false") Cancel
                    v-btn(flat, @click="$refs.dlMenu.save(deadline)") Ok
              v-flex(xs12, sm3, d-flex)
                v-switch(v-model="fdSwitch", label="Finished")
              v-flex(xs12, sm9)
                v-menu(ref="fdMenu", :close-on-content-click="false", v-model="fdMenu", :nudge-right="40", :return-value.sync="finish_date", lazy, transition="scale-transition", offset-y, full-width, min-width="290px", :disabled="!fdSwitch")
                  v-text-field(slot="activator", v-model="finish_date", label="Finish Date", readonly)
                  v-date-picker(v-model="finish_date", scrollable, reactive)
                    v-spacer
                    v-btn(flat, @click="fdMenu = false") Cancel
                    v-btn(flat, @click="$refs.fdMenu.save(finish_date)") Ok
              v-flex(xs12, sm3, d-flex)
                v-switch(v-model="svSwitch", label="Supervisor")
              v-flex(xs12, sm9, d-flex)
                v-select(v-model="supervisor", :items="supervisors", item-text="name", item-value="_id", label="Supervisor", :disabled="!svSwitch")
              v-flex(xs12, sm3, d-flex)
                v-switch(v-model="diSwitch", label="Director")
              v-flex(xs12, sm9, d-flex)
                v-select(v-model="director", :items="directors", item-text="name", item-value="_id", label="Director", :disabled="!diSwitch")
      v-card-actions
        v-btn(:disabled="!valid", @click="submit", flat, :loading="working") Add
        v-btn(color="red", flat, @click="$emit('cancelled')", :disabled="working") Cancel
</template>

<script>
import { mapGetters, mapState, mapActions } from 'vuex'
import _ from 'lodash'

export default {
  name: 'ProjectForm',
  data () {
    return {
      valid: false,
      title: '',
      titleRules: [
        v => !!v || 'Title is required',
        v => (v && v.length <= 20) || 'Title must be less than 20 characters'
      ],
      sdMenu: false,
      start_date: '',
      dlSwitch: false,
      dlMenu: false,
      deadline: '',
      fdSwitch: false,
      fdMenu: false,
      finish_date: '',
      svSwitch: false,
      supervisor: '',
      diSwitch: false,
      director: ''
    }
  },
  computed: {
    ...mapGetters({
      dialogs: '$_projects/viewDialog',
      working: '$_projects/working'
    }),
    ...mapState({
      creditlist (state, getters) {
        return getters['$_credits/creditlist']
      }
    }),
    pf_visible: {
      get () { return this.dialogs.add },
      set (val) { !val && this.dialog({ dialog: 'add', target: {}, display: false }) }
    },
    directors () {
      let d = this.creditlist.filter(credit => credit.role === 'Director')
      return d
    },
    supervisors () {
      let s = this.creditlist.filter(credit => credit.role === 'Supervisor')
      return s
    }
  },
  watch: {
    pf_visible (val) {
      if (!val) { this.$refs.newProject.reset() }
    }
  },
  methods: {
    ...mapActions({
      add: '$_projects/add',
      dialog: '$_projects/dialog'
    }),
    thSubmit () {
      _.throttle(() => {
        console.log('Add button pressed')
        this.submit()
      }, 1000)
    },
    submit () {
      let dl = null
      let fd = null
      let sv = null
      let di = null
      if (this.$refs.newProject.validate()) {
        if (this.dlSwitch) { dl = this.deadline }
        if (this.fdSwitch) { fd = this.finish_date }
        if (this.svSwitch) { sv = this.supervisor }
        if (this.diSwitch) { di = this.director }
        this.add({ title: this.title, start_date: this.start_date, deadline: dl, finish_date: fd, supervisor: sv, director: di })
      }
    }
  }
}
</script>
