<template lang="pug">
  div
    v-toolbar(flat, color="white")
      v-toolbar-title Projects
      v-divider(class="mx-2", inset, vertical)
      v-spacer
      v-alert(:value="failed.status", color="error", icon="warning", @click.stop="closeFailed") {{ failed.error }}
      v-btn(color="primary", dark, class="mb-2", @click="dropStore") Drop Store
      v-btn(color="primary", dark, class="mb-2", @click.native.stop="dialog({ dialog: 'add', target: {}, display: true })") Add Project
      ProjectForm(@cancelled="dialog({ dialog: 'add', target: {}, display: false })")
    v-data-table(:headers="headers", :items="list", item-key="_id" hide-actions, class="elevation-1")
      template(slot="items", slot-scope="props")
        tr(@click="props.expanded = !props.expanded")
          td {{ props.item.title }}
          td.justify-center.text-xs-center
            v-tooltip(bottom)
              v-icon(slot="activator") today
              span Started: {{ props.item.start_date | moment('YYYY-MM-DD') }}
            v-tooltip(bottom, :disabled="!props.item.finish_date")
              v-icon(slot="activator", :disabled="!props.item.finish_date") event
              span(v-if="props.item.finish_date") Finished: {{ props.item.finish_date | moment('YYYY-MM-DD') }}
            v-tooltip(bottom, :disabled="!props.item.release_date")
              v-icon(slot="activator", :disabled="!props.item.release_date") assignment_turned_in
              span(v-if="props.item.release_date") Released: {{ props.item.release_date | moment('YYYY-MM-DD') }}
            v-tooltip(bottom, :disabled="!props.item.deadline")
              v-icon(slot="activator", :disabled="!props.item.deadline") alarm
              span(v-if="props.item.deadline") Deadline: {{ props.item.deadline | moment('YYYY-MM-DD') }}
          td.justify-center.text-xs-center
            v-btn(flat, v-if="props.item.director") {{ props.item.director.name }}
          td.justify-center.text-xs-center
            v-btn(flat, v-if="props.item.supervisor") {{ props.item.supervisor.name }}
          td.justify-center.text-xs-center
            v-icon(small, @click.stop="dialog({ dialog: 'credits', target: props.item, display: true })") account_box
          td.justify-center.text-xs-center
            v-icon(small, @click.stop="dialog({ dialog: 'notes', target: props.item, display: true })") description
          td.justify-center.text-xs-center
            v-icon(small, @click="", disabled=true).mr-2 edit
            v-icon(small, @click.stop="dialog({ dialog: 'remove', target: props.item, display: true })") delete
      template(slot="expand", slot-scope="props")
        v-card(flat)
          v-btn(depressed, round, small, v-if="props.item.stage1") Outline {{ props.item.stage1.primary.name }}
          v-btn(depressed, round, small, v-if="props.item.stage2") Storyboard {{ props.item.stage2.primary.name }}
          v-btn(depressed, round, small, v-if="props.item.stage3") Animation {{ props.item.stage3.primary.name }}
          v-btn(depressed, round, small, v-if="props.item.stage4") Color {{ props.item.stage4.primary.name }}
          v-btn(depressed, round, small, v-if="props.item.stage5") Thumbnail {{ props.item.stage5.primary.name }}
          v-btn(depressed, round, small, v-if="props.item.stage6") Pencil1 {{ props.item.stage6.primary.name }}
          v-btn(depressed, round, small, v-if="props.item.stage7") Retime1 {{ props.item.stage7.primary.name }}
          v-btn(depressed, round, small, v-if="props.item.stage8") Voice {{ props.item.stage8.primary.name }}
          v-btn(depressed, round, small, v-if="props.item.stage9") Retime2 {{ props.item.stage9.primary.name }}
          v-btn(depressed, round, small, v-if="props.item.stage10") Music {{ props.item.stage10.primary.name }}
          v-btn(depressed, round, small, v-if="props.item.stage11") Retime 3 {{ props.item.stage11.primary.name }}
          v-btn(depressed, round, small, v-if="props.item.stage12") SFX {{ props.item.stage12.primary.name }}
          v-btn(depressed, round, small, v-if="props.item.stage13") Pencil2 {{ props.item.stage13.primary.name }}
          v-btn(depressed, round, small, v-if="props.item.stage14") Export {{ props.item.stage14.primary.name }}
      template(slot="no-data")
        v-alert(:value="true", color="error", icon="warning") No projects found!
    CreditDialog(:store="store", @finished="dialog({ dialog: 'credits', target: {}, display: false })")
    NotesDialog(:store="store", @finished="dialog({ dialog: 'notes', target: {}, display: false })")
    RemoveDialog(:store="store", @confirmed="remove", @cancelled="dialog({ dialog: 'remove', target: {}, display: false })")
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import CreditDialog from '@/components/CreditDialog'
import NotesDialog from '@/components/NotesDialog'
import RemoveDialog from '@/components/RemoveDialog'
import ProjectForm from './ProjectForm'

export default {
  name: 'ProjectTable',
  components: {
    CreditDialog,
    NotesDialog,
    RemoveDialog,
    ProjectForm
  },
  data () {
    return {
      headers: [
        { text: 'Title', align: 'left', value: 'title' },
        { text: 'Dates', align: 'center', value: 'dates', sortable: false },
        { text: 'Director', align: 'center', value: 'director' },
        { text: 'Supervisor', align: 'center', value: 'supervisor' },
        { text: 'Other Credits', align: 'center', value: 'othercredits', sortable: false },
        { text: 'Notes', align: 'center', value: 'notes', sortable: false },
        { text: 'Actions', align: 'center', value: 'name', sortable: false }
      ]
    }
  },
  computed: {
    ...mapGetters({
      list: '$_projects/projects',
      failed: '$_projects/failErr',
      store: '$_projects/storeKey'
    })
  },
  methods: {
    ...mapActions({
      dialog: '$_projects/dialog',
      remove: '$_projects/remove',
      closeFailed: '$_projects/closeFailed'
    }),
    mapType (type) {
      return 'primary' // Actually map colours at some point
    },
    dropStore () {
      console.log(this.$store)
    }
  }
}
</script>
