<template lang="pug">
  v-app
    v-toolbar(color="primary", dark)
      v-toolbar-title Pencilmation
      v-spacer
      v-layout(row, align-center)
        v-toolbar-items
          v-btn(flat, to='/tracker') Tracker
          v-btn(flat, to='/sheet/new') Test Sheet
          v-divider(inset, vertical)
          v-btn(flat, to='/crew') Crew
          v-btn(flat, to='/credits') Credits
    router-view
</template>

<script>
export default {
  name: 'App',
  mounted () {
    this.$store.dispatch('getAllLists')
  }
}
</script>

<style lang="stylus">
/*#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}*/
</style>
