<template lang="pug">
  v-dialog(v-model="nd_visible", max-width="500px")
    v-card
      v-card-title(primary-title)
        h3 Notes for {{ target.name || target.title }}
      v-list(dense)
        v-list-tile(v-for="note in notes", :key="note._id")
          v-list-tile-content
            v-list-tile-title {{ note.name }}
            v-list-tile-subtitle
              span {{ note.contents }}
        v-list-tile(v-if="checkEmpty(notes)", color="error")
          v-list-tile-content
            v-list-tile-title
              h3 No notes found.
      v-card-actions
        v-btn(flat, @click="$emit('finished')") Done
        v-btn(flat, @click="") Add Note
</template>

<script>
import { mapState, mapActions } from 'vuex'
import _ from 'lodash'

export default {
  name: 'NotesDialog',
  data () {
    return {

    }
  },
  props: ['store'],
  computed: {
    ...mapState({
      dialogs (state, getters) {
        return getters[this.store + '/viewDialog']
      },
      target (state, getters) {
        return getters[this.store + '/target']
      }
    }),
    notes () { return this.target.notes },
    nd_visible: {
      get () { return this.dialogs.notes },
      set (val) { !val && this.dialog({ dialog: 'notes', target: {}, display: false }) }
    }
  },
  methods: {
    ...mapActions({
      dialog (dispatch, payload) {
        return dispatch(this.store + '/dialog', payload)
      }
    }),
    checkEmpty (obj) {
      return _.isEmpty(obj)
    }
  }
}
</script>
