<template lang="pug">
  v-form(ref="form", v-model="sheet" lazy-validation)
    v-container(fluid, grid-list-sm)
      v-layout(row, wrap)
        v-flex(xs9)
          v-text-field(v-model="projModel.title", label="Project Title", :readonly="!isEditting")
        v-flex(xs1)
          v-btn(@click="debug") Credits
        v-flex(xs1)
          v-btn(@click="toggleEdit", :disabled="isEditting && pending") {{ isEditting ? 'Save' : 'Edit' }}
          v-btn(color="red", v-show="isEditting", @click="cancelEdit") Cancel
      v-layout(row, wrap)
        v-flex(xs12, sm2, d-flex)
          v-switch(v-model="svSwitch", label="Supervisor", :readonly="!isEditting")
        v-flex(xs12, sm3, d-flex)
          v-select(v-model="projModel.supervisor", :items="supervisors", item-text="name", item-value="_id", label="Supervisor", :disabled="!svSwitch", :readonly="!isEditting")
        v-flex(xs12, sm2, d-flex)
          v-switch(v-model="diSwitch", label="Director", :readonly="!isEditting")
        v-flex(xs12, sm3, d-flex)
          v-select(v-model="projModel.director", :items="directors", item-text="name", item-value="_id", label="Director", :disabled="!diSwitch", :readonly="!isEditting")
      v-layout(row, wrap)
        v-flex(sm3)
          v-text-field(:value="fmtDate(projModel.start_date)", label="Start Date", :readonly="!isEditting", @input="thUpdate('start', $event)")
        v-flex(sm3)
          v-text-field(:value="fmtDate(projModel.finish_date)", label="Finish Date", :readonly="!isEditting", @input="thUpdate('finish', $event)")
        v-flex(sm3)
          v-text-field(:value="fmtDate(projModel.deadline)", label="Deadline", :readonly="!isEditting", @input="thUpdate('deadline', $event)")
        v-flex(sm3)
          v-text-field(:value="fmtDate(projModel.release_date)", label="Release Date", :readonly="!isEditting", @input="thUpdate('release', $event)")
      v-divider
      template(v-for="stage in projModel.stages")
        v-layout(row, align-center, justify-center)
          v-flex(xs12)
            StageCard(:mode="isEditting", :stage="stage", @removed="removeStage($event)", @saved="saveStage($event)", @update="update($event)")
      v-layout(row)
        v-flex(sm3)
          v-btn(color="primary", :disabled="!isEditting", @click="addStage") Add Stage
</template>

<script>
import { mapGetters, mapState, mapActions } from 'vuex'
import StageCard from './StageCard'
import _ from 'lodash'
import moment from 'moment'
// stageData[stage.index].

export default {
  name: 'SheetBase',
  components: {
    StageCard
  },
  data () {
    return {
      sheet: false,
      isEditting: false,
      projModel: { _id: -1, title: 'Project', start_date: '', finish_date: '', deadline: '', release_date: '', director: { _id: -1, name: 'NONE' }, supervisor: { id: -1, name: 'NONE' }, other_credits: [], stages: [] },
      svSwitch: false,
      diSwitch: false,
      crewWithDummy: [{ name: 'Crew Tester', _id: -1 }],
      blank: false,
      queue: [],
      mode: { editting: false, cancelled: false }
    }
  },
  computed: {
    ...mapGetters({
    }),
    ...mapState({
      proj (state) {
        return state.$_sheet.sheetModel
      },
      creditlist (state, getters) {
        return getters['$_credits/creditlist']
      }
    }),
    supervisors () {
      let l = this.creditlist.filter(credit => credit.role === 'Supervisor')
      let s = [{ name: 'NONE', _id: -1 }]
      return s.concat(l)
    },
    directors () {
      let l = this.creditlist.filter(credit => credit.role === 'Director')
      let d = [{ name: 'NONE', _id: -1 }]
      return d.concat(l)
    },
    pending () {
      return this.queue.length > 0
    }
  },
  mounted () {
    if (_.isEmpty(this.proj)) {
      this.blank = true
    } else {
      this.load()
    }
  },
  watch: {
    proj (newVal, oldVal) {
      if (this.blank) {
        this.load()
        this.blank = false
      }
    }
  },
  methods: {
    ...mapActions({
      save: '$_sheet/saveSheet',
      saveStage: '$_sheet/saveStage'
    }),
    load () {
      this.projModel = JSON.parse(JSON.stringify(this.proj))
    },
    toggleEdit () {
      if (this.isEditting) {
        this.save(this.projModel)
      } else {
        this.isEditting = true
      }
    },
    cancelEdit () {
      this.isEditting = false
      this.reset()
    },
    reset () {
      this.$nextTick(() => {
        console.log('Resetting', this.projModel, this.proj)
        this.projModel = JSON.parse(JSON.stringify(this.proj))
      })
    },
    resetStages () {
      this.projModel.stages = this.proj.stages
    },
    removeStage (ev) {
      let list = this.projModel.stages
      let ind = list.indexOf(list.find(st => st._id === ev.id))
      this.projModel.stages.splice(ind, 1)
    },
    saveStage (ev) {
      let list = this.projModel.stages
      let ind = list.indexOf(list.find(st => st._id === ev.id))
      list.splice(ind, 1, ev.model)
      this.queue.splice(this.queue.indexOf(ev.id), 1)
    },
    update (ev) {
      switch (ev.trigger) {
        case 'changed':
          this.queue.push(ev.id)
          break
        case 'reset':
          this.queue.splice(this.queue.indexOf(ev.id), 1)
          break
      }
    },
    debug (ev) {
      console.log('Stringified!', JSON.stringify(this.proj))
    },
    addStage () {
      let stg = { _id: this.popId(),, parent: this.projModel._id, label: 'Test', slot: '0', start_date: 'YYYY-MM-DD', finish_date: 'YYYY-MM-DD', lead: 'Select One', primary: 'Select One', status: 0, notes: [] }
      this.projModel.stages.push(stg)
    },
    parseDate (date) {
      if (date !== 'YYYY-MM-DD' && moment(date).isValid()) {
        return moment(date, 'YYYY-MM-DD').toISOString()
      } else {
        return date
      }
    },
    fmtDate (date) {
      if (moment(date).isValid()) {
        return moment(date).format('YYYY-MM-DD')
      } else {
        return date
      }
    },
    thUpdate: _.debounce(function (type, ev) {
      let p = this.projModel
      switch (type) {
        case 'start':
          p.start_date = this.parseDate(ev)
          break
        case 'finish':
          p.finish_date = this.parseDate(ev)
          break
        case 'deadline':
          p.deadline = this.parseDate(ev)
          break
        case 'release':
          p.release_date = this.parseDate(ev)
          break
      }
    }, 1500)
  }
}
</script>
