<template lang="pug">
v-card(:color="cardColor").pl-2.my-1
  v-layout(row, align-center, justify-center)
    v-flex(d-flex, xs8)
      v-text-field(:value="stageModel.label", label="Stage", :readonly="!isEditting", @input="thUpdate('label', $event)")
    v-flex(d-flex, xs4)
      v-text-field(:value="stageModel.slot", label="Slot", :readonly="!isEditting", @input="thUpdate('slot', $event)")
    v-flex(d-flex, xs6)
      v-select(:value="stageModel.lead", :items="creditlist", item-text="name", item-value="_id", label="Lead", :readonly="!isEditting", @input="thUpdate('lead', $event)")
    v-flex(d-flex, xs6)
      v-select(:value="stageModel.primary", :items="creditlist", item-text="name", item-value="_id", label="Primary", :readonly="!isEditting", @input="thUpdate('primary', $event)")
    v-flex(d-flex, xs6)
      v-text-field(:value="fmtDate(stageModel.start_date)", label="Start Date", :readonly="!isEditting", @input="thUpdate('start', $event)")
    v-flex(d-flex, xs6)
      v-text-field(:value="fmtDate(stageModel.finish_date)", label="Finish Date", :readonly="!isEditting", @input="thUpdate('finish', $event)")
    v-flex(d-flex, xs4)
      v-select(:value="stageModel.status", :items="statuses", item-text="text", item-value="id", label="Status", :readonly="!isEditting", @input="thUpdate('status', $event)")
    v-flex(d-flex, xs4, align-center, justify-center).text-xs-center
      v-icon(@click.stop="noteDialog = !noteDialog") description
    v-flex(d-flex, xs4, align-center, justify-center).text-xs-center
      v-icon perm_scan_wifi
    v-flex(d-flex, xs6, v-if="isEditting").text-xs-center
      v-icon(v-if="!changed", color="success") done_outline
      v-icon(v-if="changed", @click="save", color="warning") cached
      v-icon(@click="reset") settings_backup_restore
      v-tooltip(bottom)
        v-icon(@click="remove", slot="activator", color="red") clear
        span Delete this stage
    v-dialog(v-model="noteDialog", max-width="500px")
      v-card
        v-card-title(primary-title)
          h3 Notes
        v-list(dense)
          v-list-tile(v-for="note in stageModel.notes", :key="note._id")
            v-list-tile-content
              v-list-tile-title {{ parseDate(note.created) }} ({{ parseDate(note.deadline) }})
              v-list-tile-sub-title
                span {{ note.content }}
          v-list-tile(v-if="emptyNotes", color="error")
            v-list-tile-content
              v-list-tile-title
                h3 No notes found.
        v-card-actions
          v-btn(flat, @click.stop="noteDialog = false") Done
          v-btn(flat, @click.stop="noteAddDialog = !noteAddDialog", :disabled="!isEditting") Add Note
    v-dialog(v-model="noteAddDialog", persistent, max-width="500px")
      v-card
        v-card-title(primary-title)
          h3 Add Note
        v-card-text
          v-text-field(v-model="newNote.deadline", label="Deadline", disabled)
          v-textarea(v-model="newNote.content", auto-grow, box, label="Content", rows="3")
        v-card-actions
          v-btn(flat, @click.stop="cancelAddNote") Cancel
          v-btn(flat, @click.stop="addNote") Add
</template>

<script>
import { mapGetters, mapState, mapActions } from 'vuex'
import _ from 'lodash'
import moment from 'moment'

export default {
  name: 'StageCard',
  props: ['mode', 'stage'],
  data () {
    return {
      isEditting: false,
      stageModel: { _id: -1, parent: '', label: '', slot: -1, lead: -1, primary: -1, start_date: '', finish_date: '', status: -1, notes: [] },
      original: { _id: -1, parent: '', label: '', slot: -1, lead: -1, primary: -1, start_date: '', finish_date: '', status: -1, notes: [] },
      loaded: false,
      changed: false,
      noteDialog: false,
      noteAddDialog: false,
      newNote: { _id: this.popId(), parent: '', created: 'YYYY-MM-DD', deadline: '[Deadline]', content: '' },
      cardColor: 'blank'
    }
  },
  created () {
  },
  mounted () {
    this.load()
  },
  computed: {
    ...mapGetters({
      statuses: 'stageStatuses'
    }),
    ...mapState({
      proj (state) {
        return state.$_sheet.sheetModel
      },
      statusColors (state) {
        return state.statusColors
      },
      creditlist (state, getters) {
        return getters['$_credits/creditlist']
      }
    }),
    status () {
      return this.stageModel.status
    },
    default () {
      return JSON.parse(JSON.stringify(this.proj.stages.find(st => st._id === this.stageModel._id)))
    },
    emptyNotes () {
      if (_.isEmpty(this.stageModel.notes)) {
        return true
      } else {
        return false
      }
    }
  },
  watch: {
    mode (newVal, oldVal) {
      if (newVal === true) {
        this.isEditting = true
      } else if (newVal === false) {
        this.isEditting = false
        this.reset()
      }
    },
    status (newVal, oldVal) {
      let c = this.statusColors.find(st => st.id === newVal)
      this.cardColor = c.color
      // console.log('Status watch triggered:', this.stageModel.status, c)
    }
  },
  methods: {
    ...mapActions({
      updateStage: '$_sheet/updateStage',
      popId: '$_sheet/popId'
    }),
    changedSelect (type, ev) {
      if (!this.changed) {
        this.$emit('update', { id: this.stageModel._id, trigger: 'changed' })
      }
      this.changed = true
      switch (type) {
        case 'status':
          this.stageModel.status = ev
          break
      }
    },
    thUpdate: _.debounce(function (type, ev) {
      if (!this.changed) {
        this.$emit('update', { id: this.stageModel._id, trigger: 'changed' })
      }
      this.changed = true
      let s = this.stageModel
      switch (type) {
        case 'label':
          s.label = ev
          break
        case 'slot':
          s.slot = ev
          break
        case 'lead':
          s.lead = ev
          break
        case 'primary':
          s.primary = ev
          break
        case 'start':
          s.start_date = this.parseDate(ev)
          break
        case 'finish':
          s.finish_date = this.parseDate(ev)
          break
        case 'status':
          s.status = ev
          break
      }
    }, 1500),
    load () {
      this.stageModel = JSON.parse(JSON.stringify(this.stage))
      this.original = JSON.parse(JSON.stringify(this.stage))
      this.newNote.parent = this.stageModel._id
      this.changed = false
      if (this.mode === true) {
        this.isEditting = true
      }
    },
    refresh () {
      this.stageModel = JSON.parse(JSON.stringify(this.stage))
      this.changed = false
    },
    reset () {
      this.stageModel = JSON.parse(JSON.stringify(this.original))
      this.$emit('reset', { id: this.stageModel._id })
      this.changed = false
    },
    save () {
      // this.updateStage({ stage: this.stageModel, action: 'save' })
      let stg = this.stageModel
      this.$emit('saved', { id: this.stageModel._id, model: stg })
      this.$nextTick(() => {
        this.refresh()
      })
    },
    remove () {
      // this.updateStage({ stage: this.stageModel, action: 'remove' })
      this.$emit('removed', { id: this.stageModel._id })
      this.$nextTick(() => {
        this.refresh()
      })
    },
    cancelAddNote () {
      this.newNote = { _id: this.popId(), parent: this.stageModel._id, created: 'YYYY-MM-DD', deadline: '[Deadline]', content: '' }
      this.noteAddDialog = false
    },
    addNote () {
      let nt = JSON.parse(JSON.stringify(this.newNote))
      nt.created = this.parseDate(nt.created)
      nt.deadline = this.parseDate(nt.deadline)
      this.stageModel.notes.push(nt)
      this.changed = true
      this.newNote = { _id: this.popId(), parent: this.stageModel._id, created: 'YYYY-MM-DD', deadline: '[Deadline]', content: '' }
      this.noteAddDialog = false
    },
    parseDate (date) {
      if (date !== 'YYYY-MM-DD' && moment(date).isValid()) {
        return moment(date, 'YYYY-MM-DD').toISOString()
      } else {
        return date
      }
    },
    fmtDate (date) {
      if (moment(date).isValid()) {
        return moment(date).format('YYYY-MM-DD')
      } else {
        return date
      }
    }
  }
}
</script>
