<template lang="pug">
  SheetBase
</template>

<script>
import store from './_store'
import SheetBase from './_components/SheetBase'

export default {
  name: 'SheetModule', // NameofModule
  components: {
    SheetBase
  },
  created () {
    const STORE_KEY = '$_sheet' // $_name
    if (!(STORE_KEY in this.$store._modules.root._children)) {
      this.$store.registerModule(STORE_KEY, store)
    }
  },
  mounted () {
    this.$store.dispatch('$_sheet/getSheet', this.$route.params.id)
    this.$store.dispatch('$_sheet/getIds', this.$store.defaultSlots.length + 5)
    // this.$store.dispatch('$_name/doSomethingInitially')
  }
}
</script>
