<template lang="pug">
  v-toolbar(color="primary", dark)
    v-toolbar-title Pencilmation
    v-spacer
      v-layout(row, align-center)
        v-toolbar-items
          v-btn(flat, to='/blah') Crew
          v-btn(flat) Projects
          v-btn(flat) Stages
          v-btn(flat) Credits
</template>

<script>
// import Api from '@/config/API'
export default {}
</script>
