<template lang="pug">
  ProjectTable
</template>

<script>
import store from './_store'
import ProjectTable from './_components/ProjectTable'

export default {
  name: 'ProjectModule',
  components: {
    ProjectTable
  },
  created () {
    const STORE_KEY = '$_projects'
    if (!(STORE_KEY in this.$store._modules.root._children)) {
      this.$store.registerModule(STORE_KEY, store)
    }
  },
  mounted () {
    this.$store.dispatch('$_projects/getList')
  }
}
</script>
