<template lang="pug">
  v-container(fluid, grid-list-md)
    v-alert(:value="notfound", type="error")
    v-data-iterator(:items="crewmembers", :rows-per-page-items="rowsPerPageItems", :pagination.sync="pagination", content-tag="v-layout", row, wrap)
      v-flex(slot="item", slot-scope="props", xs12, sm6, md4, lg3)
        v-card(color="secondary", dark)
          v-card-title
            h4 {{props.item.name}}
          v-divider
          v-list(dense)
            v-list-tile
              v-list-tile-content Interval:
              v-list-tile-content(class="align-right")
                span {{props.item.interval}}
            v-list-tile
              v-list-tile-content Queue:
              v-list-tile-content(class="align-right") {{props.item.queue}}
            v-list-tile
              v-list-tile-content Completed:
              v-list-tile-content(class="align-right") {{props.item.completed}}
          v-divider
          v-card-actions
            v-btn(flat) See Details
            v-btn(flat) See Notes
            v-btn(flat, color="red", @click.native.stop="confirmRemove(props.item._id, props.item.name)") Remove
    v-btn(color="green", dark, fixed, bottom, right, fab, @click.native.stop="addCrew = !addCrew")
      v-icon add
    v-dialog(v-model="addCrew", max-width="500px")
      v-card
        v-card-text
          CrewForm(@finished="fnAddCrew", @cancelled="clAddCrew")
    ConfirmDialog(:info="removeInfo", :working="removing", :visible="removeDialog", @confirmed="remove", @cancelled="cancelRemove")
</template>

<script>
import Api from '@/config/API'
import CrewForm from './CrewForm'
import ConfirmDialog from '../ConfirmDialog'

export default {
  components: {
    CrewForm,
    ConfirmDialog
  },
  data () {
    return {
      rowsPerPageItems: [
        '4', '8', '12'
      ],
      pagination: {
        rowsPerPage: 4
      },
      addCrew: false,
      crewmembers: [],
      notfound: false,
      removing: false,
      removeDialog: false,
      selected: {},
      failed: false,
      freason: null
    }
  },
  created () {
    this.getList()
  },
  computed: {
    removeInfo () {
      return {
        question: 'Remove ' + this.selected.name + '(Id: ' + this.selected.id + ')?',
        ycolor: 'error',
        ncolor: ''
      }
    }
  },
  methods: {
    confirmRemove (id, name) {
      this.selected = { name: name, id: id }
      this.removeDialog = !this.removeDialog
    },
    cancelRemove () {
      this.selected = {}
      this.removeDialog = !this.removeDialog
    },
    remove () {
      this.removing = true
      var self = this
      Api().post('/crew/remove', {
        target: this.selected.id
      }).then(function (response) {
        self.removing = false
        self.removeDialog = false
        if (response.data.success) {
          self.getList()
        } else {
          self.failed = true
          self.freason = 'Server actions unsuccessful.'
        }
      }).catch(function (error) {
        self.removing = false
        self.removeDialog = false
        self.failed = true
        console.log(error)
        self.freason = 'POST failed. See console.'
      })
    },
    getList () {
      var self = this
      Api().get('/crew/list')
        .then(response => {
          if (response.data.success === false) {
            self.notfound = true
          } else {
            self.crewmembers = response.data.crewmembers
          }
        })
    },
    clAddCrew () {
      this.addCrew = !this.addCrew
    },
    fnAddCrew () {
      this.addCrew = !this.addCrew
      this.getList()
    }
  }
}
</script>

<style lang="stylus">
.align-right
  position: absolute
  right: 5%
</style>
