<template lang="pug">
  div
    v-toolbar(flat, color="white")
      v-toolbar-title Crew Members
      v-divider(class="mx-2", inset, vertical)
      v-spacer
      v-dialog(v-model="addCrew", max-width="500px")
        v-btn(slot="activator", color="primary", dark, class="mb-2") Add Crew
        v-card
          v-card-title
            span.headline Add Crew Member
          v-card-text
            CrewForm(@finished="fnAddCrew", @cancelled="clAddCrew")
    v-data-table(:headers="headers", :items="crewmembers", hide-actions, class="elevation-1")
      template(slot="items", slot-scope="props")
        td {{ props.item.name }}
        td.text-xs-right {{ props.item.interval }}
        td.text-xs-right {{ props.item.queue }}
        td.text-xs-right {{ props.item.completed }}
        td.justify-center.layout.px-0
          v-icon(small, @click="getCredits(props.item.credits)").mr-2 assignment_ind
        td.justify-center.layout.px-0
          v-icon(small, @click="getNotes(props.item.notes)").mr-2 description
        td.justify-center.layout.px-0
          v-icon(small, @click="editCrew(props.item)", disabled="true").mr-2 edit
          v-icon(small, @click="confirmRemove(props.item)") delete
      template(slot="no-data")
        v-alert(:value="true", color="error", icon="warning") No crew members found!
</template>

<script>
import Api from '@/config/API'
import CrewForm from './CrewForm'
import ConfirmDialog from '../ConfirmDialog'

export default {
  components: {
    CrewForm,
    ConfirmDialog
  },
  data () {
    return {
      addCrew: false,
      headers: [
        {
          text: 'Name',
          align: 'left',
          value: 'name'
        },
        { text: 'Interval', value: 'interval' },
        { text: 'Queue', value: 'queue' },
        { text: 'Completed', value: 'completed' },
        { text: 'Credits', value: 'credits', sortable: false },
        { text: 'Notes', value: 'notes', sortable: false },
        { text: 'Actions', value: 'name', sortable: false }
      ],
      crewmembers: []
    }
  },
  watch: {
    addCrew (val) {
      val || this.clAddCrew()
    }
  },
  created () {
    this.getList()
  },
  methods: {
    getList () {
      var self = this
      Api().get('/crew/list')
        .then(response => {
          if (response.data.success === false) {
            self.notfound = true
          } else {
            self.crewmembers = response.data.crewmembers
          }
        })
    }
  }
}
</script>
