<template lang="pug">
  v-form(ref="newCrew", v-model="valid", lazy-validation)
    v-text-field(v-model="name", :rules="nameRules", :counter="20", label="Name", required)
    v-radio-group(v-model="interval", row, required)
      v-radio(label="Weekly", value="Weekly")
      v-radio(label="Monthly", value="Monthly")
    v-alert(:value="oops", type="error") Server failed to process addition.
    v-alert(:value="oops2", type="error") Something went wrong.
    v-btn(:disabled="!valid", @click="submit", flat) Add
    v-btn(color="red", flat, @click="canc") Cancel
</template>

<script>
import Api from '@/config/API'
import _ from 'lodash'

export default {
  data () {
    return {
      valid: false,
      name: '',
      nameRules: [
        v => !!v || 'Name is required',
        v => (v && v.length <= 20) || 'Name must be less than 20 characters'
      ],
      interval: 'Weekly',
      oops: false,
      oops2: false
    }
  },
  methods: {
    thSubmit () {
      _.throttle(() => {
        console.log('Add button pressed')
        this.submit()
      }, 1000)
    },
    submit () {
      if (this.$refs.newCrew.validate()) {
        var self = this
        Api().post('/crew/add', {
          name: this.name,
          interval: this.interval
        })
          .then(function (resp) {
            if (resp.data.success) {
              self.fin()
            } else {
              self.oops = !self.oops
            }
          })
          .catch(function (error) {
            console.log(error)
            self.oops2 = !self.oops2
          })
      }
    },
    fin () {
      this.$emit('finished')
    },
    canc () {
      this.$emit('cancelled')
    }
  }
}
</script>
