<template lang="pug">
  v-dialog(:v-model="target.model", max-width="500px")
    v-btn(flat, slot="activator", color="red") Remove
    v-card
      v-card-title
        h3 Remove {{ target.type }}?
        v-alert(:value="failed", type="error") Failed: {{ freason }}
        v-alert(:value="succeeded", type="success") Success!
      v-card-actions
        v-btn(flat, color="red", @click.native.stop="remove(target.id)") Yes
        v-btn(flat, @click="fin") Cancel
</template>

<script>
import Api from '@/config/API'
import _ from 'lodash'

export default {
  data () {
    return {
      failed: false,
      succeeded: false,
      freason: ''
    }
  },
  props: ['target'],
  methods: {
    remove (id) {
      var self = this
      Api().post('/crew/remove', {
        target: id
      }).then(function (response) {
        if (response.data.success) {
          self.succeeded = true
          self.fin()
        } else {
          self.failed = true
          self.freason = 'Server actions unsuccessful.'
        }
      }).catch(function (error) {
        self.failed = true
        console.log(error)
        self.freason = 'POST failed. See console.'
      })
    },
    fin () {
      this.$emit('finished')
    }
  }
}
