<template lang="pug">
  //- PrimaryComponent
</template>

<script>
import store from './_store'
// import PrimaryComponent from './_components/PrimaryComponent'

export default {
  name: '', // NameofModule
  components: {
    // PrimaryComponent
  },
  created () {
    const STORE_KEY = '' // $_name
    if (!(STORE_KEY in this.$store._modules.root._children)) {
      this.$store.registerModule(STORE_KEY, store)
    }
  },
  mounted () {
    // this.$store.dispatch('$_name/doSomethingInitially')
  }
}
</script>
