<template lang="pug">
  v-dialog(v-model="sg_visible", max-width="500px")
    v-card
      v-card-text
        v-form(ref="newStage", v-model="valid", lazy-validation)
          v-container(fluid grid-list-xl)
            v-layout(wrap, align-center)
              v-flex(xs12, d-flex)
                v-select(v-model="project", :items="projects", item-text="title", item-value="_id", label="Project")
              v-flex(xs12, d-flex)
                v-select(v-model="stage_type", :items="stageTypes", item-text="name", return-object=true, label="Stage Type")
              v-flex(xs12, d-flex)
                v-menu(ref="dateMenu", :close-on-content-click="false", v-model="dateMenu", :nudge-right="40", :return-value.sync="start_date", lazy, transition="scale-transition", offset-y, full-width, min-width="290px")
                  v-text-field(slot="activator", v-model="start_date", label="Start Date", readonly)
                  v-date-picker(v-model="start_date", scrollable, reactive)
                    v-spacer
                    v-btn(flat, @click="dateMenu = false") Cancel
                    v-btn(flat, @click="$refs.dateMenu.save(start_date)") Ok
              v-flex(xs12, sm3, d-flex)
                v-switch(v-model="leadSwitch", label="Attach lead?")
              v-flex(xs12, sm9, d-flex)
                v-select(v-model="leadCredit", :items="creditlist", item-text="name", item-value="_id", label="Lead", :disabled="!leadSwitch")
              v-flex(xs12, sm3, d-flex)
                v-switch(v-model="primSwitch", label="Attach primary?")
              v-flex(xs12, sm9, d-flex)
                v-select(v-model="primCredit", :items="creditlist", item-text="name", item-value="_id", label="Primary", :disabled="!primSwitch")
              v-flex(xs12, d-flex)
                v-select(v-model="status", :items="statuses", item-text="text", item-value="id", label="Initial Status")
      v-card-actions
        v-btn(:disabled="!valid", @click="submit", flat, :loading="working") Add
        v-btn(color="red", flat, @click="$emit('cancelled')", :disabled="working") Cancel
</template>

<script>
import { mapGetters, mapActions, mapState } from 'vuex'
import _ from 'lodash'

export default {
  name: 'StageForm',
  data () {
    return {
      valid: false,
      project: '',
      stage_type: '',
      leadSwitch: false,
      leadCredit: '',
      primSwitch: false,
      primCredit: '',
      dateMenu: false,
      start_date: '',
      status: ''
    }
  },
  computed: {
    ...mapGetters({
      dialogs: '$_stages/viewDialog',
      working: '$_stages/working',
      stageTypes: 'stageTypes',
      statuses: 'stageStatuses'
    }),
    ...mapState({
      creditlist (state, getters) {
        return getters['$_credits/creditlist']
      },
      projects (state, getters) {
        return getters['$_projects/projects']
      }
    }),
    sg_visible: {
      get () { return this.dialogs.add },
      set (val) { !val && this.dialog({ dialog: 'add', target: {}, display: false }) }
    }
  },
  watch: {
    sg_visible (val) {
      if (!val) { this.$refs.newStage.reset() }
    }
  },
  methods: {
    ...mapActions({
      add: '$_stages/add',
      dialog: '$_stages/dialog'
    }),
    thSubmit () {
      _.throttle(() => {
        console.log('Add button pressed')
        this.submit()
      }, 1000)
    },
    submit () {
      let lead = null
      let primary = null
      if (this.$refs.newStage.validate()) {
        if (this.leadSwitch) { lead = this.leadCredit }
        if (this.primSwitch) { primary = this.primCredit }
        let toAdd = { project: this.project, slot: this.stage_type.index, label: this.stage_type.name, start_date: this.start_date, finish_date: null, deadline: null, lead: lead, primary: primary, status: this.status }
        console.log(toAdd)
        this.add(toAdd)
      }
    }
  }
}
</script>
