<template lang="pug">
  div
    v-toolbar(flat, color="white")
      v-toolbar-title Stages
      v-divider(class="mx-2", inset, vertical)
      v-spacer
      v-alert(:value="failed.status", color="error", icon="warning", @click.stop="closeFailed") {{ failed.error }}
      v-btn(color="primary", dark, class="mb-2", @click.native.stop="dialog({ dialog: 'add', target: {}, display: true })") Add Stage
      StageForm(@cancelled="dialog({ dialog: 'add', target: {}, display: false })")
    v-data-table(:headers="headers", :items="list", item-key="_id" hide-actions, class="elevation-1")
      template(slot="items", slot-scope="props")
        td(v-if="props.item.project") {{ props.item.project.title }}
        td(v-if="!props.item.project") [REMOVED]
        td [{{ props.item.slot }}] {{ props.item.label }}
        td.justify-center.text-xs-center
          v-tooltip(bottom)
            v-icon(slot="activator") today
            span Started: {{ props.item.start_date | moment('YYYY-MM-DD') }}
          v-tooltip(bottom, :disabled="!props.item.finish_date")
            v-icon(slot="activator", :disabled="!props.item.finish_date") event
            span(v-if="props.item.finish_date") Finished: {{ props.item.finish_date | moment('YYYY-MM-DD') }}
          v-tooltip(bottom, :disabled="!props.item.deadline")
            v-icon(slot="activator", :disabled="!props.item.deadline") alarm
            span(v-if="props.item.deadline") Deadline: {{ props.item.deadline | moment('YYYY-MM-DD') }}
        td.justify-center.text-xs-center
          v-btn(flat, v-if="props.item.lead") {{ props.item.lead.name }}
        td.justify-center.text-xs-center
          v-btn(flat, v-if="props.item.primary") {{ props.item.primary.name }}
        td.justify-center.text-xs-center
          v-icon(small, @click.stop="dialog({ dialog: 'credits', target: props.item, display: true })") account_box
        td.justify-center.text-xs-center
          v-icon(small, @click.stop="dialog({ dialog: 'notes', target: props.item, display: true })") description
        td.justify-center.text-xs-center
          v-icon(small, @click="", disabled=true).mr-2 edit
          v-icon(small, @click.stop="dialog({ dialog: 'remove', target: props.item, display: true })") delete
      template(slot="no-data")
        v-alert(:value="true", color="error", icon="warning") No stages found!
    CreditDialog(:store="store", @finished="dialog({ dialog: 'credits', target: {}, display: false })")
    NotesDialog(:store="store", @finished="dialog({ dialog: 'notes', target: {}, display: false })")
    RemoveDialog(:store="store", @confirmed="remove", @cancelled="dialog({ dialog: 'remove', target: { empty: true }, display: false })")
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import CreditDialog from '@/components/CreditDialog'
import NotesDialog from '@/components/NotesDialog'
import RemoveDialog from '@/components/RemoveDialog'
import StageForm from './StageForm'

export default {
  name: 'StageTable',
  components: {
    CreditDialog,
    NotesDialog,
    RemoveDialog,
    StageForm
  },
  data () {
    return {
      headers: [
        { text: 'Project', align: 'left', value: 'project' },
        { text: 'Stage Type', align: 'center', value: 'stageType' },
        { text: 'Dates', align: 'center', value: 'dates', sortable: false },
        { text: 'Lead', align: 'center', value: 'lead' },
        { text: 'Primary', align: 'center', value: 'primary' },
        { text: 'Other Credits', align: 'center', value: 'othercredits', sortable: false },
        { text: 'Notes', align: 'center', value: 'notes', sortable: false },
        { text: 'Actions', align: 'center', value: 'name', sortable: false }
      ]
    }
  },
  computed: {
    ...mapGetters({
      list: '$_stages/stagelist',
      failed: '$_stages/failErr',
      store: '$_stages/storeKey'
    })
  },
  methods: {
    ...mapActions({
      dialog: '$_stages/dialog',
      remove: '$_stages/remove',
      closeFailed: '$_stages/closeFailed'
    })
  }
}
</script>
