<template lang="pug">
  CreditTable
</template>

<script>
import store from './_store'
import CreditTable from './_components/CreditTable'

export default {
  name: 'CreditModule',
  components: {
    CreditTable
  },
  computed: {},
  created () {
    const STORE_KEY = '$_credits'
    if (!(STORE_KEY in this.$store._modules.root._children)) {
      this.$store.registerModule(STORE_KEY, store)
    }
  },
  mounted () {
    this.$store.dispatch('$_credits/getList')
  }
}
</script>
