<template lang="pug">
  div
    v-toolbar(flat, color="white")
      v-toolbar-title Production Tracker
      v-divider(class="mx-2", inset, vertical)
      v-spacer
      v-btn(color="primary", dark, class="mb-2", @click="showAllStages") Show All Stages
      v-btn(color="primary", dark, class="mb-2", @click="debug") Debug
    v-data-table(:headers="headers", :items="projectlist", item-key="_id" hide-actions, class="elevation-1 narrow", :pagination.sync="pagination")
      template(slot="headers", slot-scope="props")
        tr
          template(v-for="header in props.headers")
            th(v-if="header.type === 'base'", :key="header.value", :class="headClasses(header)", @click="changeSort(header.value)")
              v-icon(v-if="!header.align || header.align === 'right' || header.align === 'center'") arrow_upward
              span {{ header.text }}
              v-icon(v-if="header.align === 'left'") arrow_upward
            th(v-if="header.type === 'stage' && header.visibility !== 'hidden'", :key="header.value", :class="stageClasses(header)", @click="toggleCol([header.value])")
              span {{ header.text }}
      template(slot="items", slot-scope="props")
        tr
          td.justify-center.text-xs-center
            v-tooltip(bottom)
              v-btn(depressed, round, small, :color="getDateColor(props.item)", slot="activator") {{ getDateToShow(props.item) | moment('MM/DD/YY') }}
              span Started: {{ props.item.start_date | moment('MM/DD/YYYY') }}
              span(v-if="props.item.deadline")
                br
                | Deadline: {{ props.item.deadline | moment('MM/DD/YYYY') }}
              span(v-if="props.item.finish_date")
                br
                | Finished: {{ props.item.finish_date | moment('MM/DD/YYYY') }}
              span(v-if="props.item.release_date")
                br
                | Released: {{ props.item.release_date | moment('MM/DD/YYYY') }}
          td.justify-center.text-xs-center
            v-icon(small, color="purple") perm_scan_wifi
            v-icon(color="red") perm_scan_wifi
          td.justify-center.text-xs-center {{ props.item.title }}
          td(v-if="props.item.supervisor").justify-center.text-xs-center {{ props.item.supervisor.name }}
          td(v-if="!props.item.supervisor").justify-center.text-xs-center None
          td(v-if="props.item.director").justify-center.text-xs-center {{ props.item.director.name }}
          td(v-if="!props.item.director").justify-center.text-xs-center None
          //- Stages
          template(v-for="slot in trackerSlots")
            td(v-if="props.item.stages[slot] && colProps[slot].visibility !== 'hidden'", :bgcolor="getStageColor(props.item.stages[slot])").justify-center.text-xs-center.stage-cell
              | {{ checkLabel(props.item.stages[slot], slot) }}
              br
              | {{ splitName(props.item.stages[slot].primary.name) }}
              br
              | {{ getStageDays(props.item.stages[slot]) }}
            td(v-if="!props.item.stages[slot] && colProps[slot].visibility !== 'hidden'", :bgcolor="getStageColor({ status: 0 })").justify-center.text-xs-center.stage-cell Not Found
      template(slot="expand", slot-scope="props")
        v-card(flat)
          v-btn(depressed, round, small)
            span Actions will go here
      template(slot="no-data")
        v-alert(:value="true", color="error", icon="warning") No projects found!
</template>

<script>
import { mapGetters, mapState, mapActions } from 'vuex'
import _ from 'lodash'
import moment from 'moment'
import mdfSetup from 'moment-duration-format'

mdfSetup(moment)

export default {
  Name: 'ProductionTracker',
  components: {
  },
  data () {
    return {
      baseHeaders: [
        { text: 'Dates', align: 'center', value: 'dates', type: 'base' },
        { text: 'Alerts', align: 'center', value: 'alerts', type: 'base' },
        { text: 'Project', align: 'center', value: 'project', type: 'base' },
        { text: 'Supervisor', align: 'center', value: 'supervisor', type: 'base' },
        { text: 'Director', align: 'center', value: 'director', type: 'base' }
      ],
      pagination: {
        sortBy: 'project'
      },
      hidden: []
    }
  },
  computed: {
    ...mapGetters({
      store: '$_tracker/storeKey',
      statusColors: 'statusColors',
      trackerSlots: 'trackerSlots',
      defaultLabels: 'defaultLabels'
    }),
    ...mapState({
      projectlist (state, getters) {
        return getters['$_projects/projects']
      }
    }),
    headers () {
      let h = this.baseHeaders.concat(this.stageHeaders)
      return h
    },
    stageHeaders () {
      let h = []
      let i = 0
      if (this.trackerSlots) {
        for (i; i < this.trackerSlots.length; i++) {
          let label = this.defaultLabels[i]
          let value = label.toLowerCase().replace(/ /g, '-')
          h.push({ text: label, align: 'center', value: value, visibility: this.hidden.includes(value) ? 'hidden' : '', type: 'stage' })
        }
      }
      return h
    },
    colProps () {
      let h = []
      let i = 0
      if (this.trackerSlots) {
        for (i; i < this.trackerSlots.length; i++) {
          let val = this.hidden.includes(this.defaultLabels[i].toLowerCase().replace(/ /g, '-'))
          let props = { visibility: val ? 'hidden' : '' }
          h.push(props)
        }
      }
      return h
    }
  },
  methods: {
    ...mapActions({
    }),
    dropStore () {
      console.log(this.$store)
    },
    splitName (name) {
      let splt = name.split(' ')
      let r = ''
      if (splt.length > 2) {
        let i = 0
        for (i; i < splt.length; i++) {
          r += splt[i].substring(0, 1)
        }
      } else {
        r = splt[0] + ' ' + splt[1].substring(0, 1)
      }
      return r
    },
    getDateColor (item) {
      let now = new Date()
      if (!_.isEmpty(item.deadline) && now > item.deadline) {
        return 'error'
      } else if (!_.isEmpty(item.release_date)) {
        return 'success'
      } else if (!_.isEmpty(item.finish_date)) {
        return 'warning'
      } else {
        return 'info'
      }
    },
    getDateToShow (item) {
      let now = new Date()
      if (!_.isEmpty(item.deadline) && now > item.deadline) {
        return item.deadline
      } else if (!_.isEmpty(item.release_date)) {
        return item.release_date
      } else if (!_.isEmpty(item.finish_date)) {
        return item.finish_date
      } else {
        return item.start_date
      }
    },
    getStageDays (stage) {
      let now = moment(new Date())
      let s = moment(stage.start_date)
      let f = stage.finish_date
      let r = ''
      if (_.isEmpty(f)) {
        r = moment.duration(now.diff(s)).format('M[m]D[d]')
      } else if (!_.isEmpty(f)) {
        f = moment(f)
        r = moment.duration(f.diff(s)).format('M[m]D[d]')
      }
      return r
    },
    getStageColor (stage) {
      return this.statusColors[stage.status].color
    },
    headClasses (h) {
      return [
        'column sortable',
        this.pagination.descending ? 'desc' : 'asc',
        h.value === this.pagination.sortBy ? 'active' : '',
        h.align === 'center' ? 'text-xs-center' : ''
      ]
    },
    stageClasses (h) {
      return [
        'column',
        h.align === 'center' ? 'text-xs-center' : ''
        // h.visibility
      ]
    },
    changeSort (column) {
      if (this.pagination.sortBy === column) {
        this.pagination.descending = !this.pagination.descending
      } else {
        this.pagination.sortBy = column
        this.pagination.descending = false
      }
    },
    toggleCol (cols) {
      let i = 0
      for (i; i < cols.length; i++) {
        if (this.hidden.includes(cols[i])) {
          this.hidden.splice(this.hidden.indexOf(cols[i]), 1)
        } else {
          this.hidden.push(cols[i])
        }
      }
    },
    makeKey (slot, title) {
      let l = this.defaultLabels[slot].toLowerCase().replace(/ /g, '-')
      let t = title.toLowerCase().replace(/ /g, '-')
      let k = [l, t]
      return k.join('-')
    },
    checkLabel (stage, slot) {
      let r = ''
      if (stage.label !== this.defaultLabels[slot]) {
        r = stage.label + '\n'
      }
      return r
    },
    showAllStages () {
      this.hidden.splice(0)
    },
    /*
    shouldShow (slot) {
      return !this.hidden.includes(this.defaultLabels[slot])
    },
    */
    debug () {
      console.log(this.headers)
      console.log(this.pagination)
      console.log(this.hidden)
    }
  }
}
</script>

<style lang="stylus">
.narrow
  table.v-table
    thead, tbody
      td, th
        &:not(:nth-child(1)), &:first-child
          padding 2px 7px
          min-width 60px
      td.stage-cell
        white-space pre-line
</style>
