<template lang="pug">
  div
    v-toolbar(flat, color="white")
      v-toolbar-title Production Tracker
      v-divider(class="mx-2", inset, vertical)
      v-spacer
      //- v-alert(:value="failed.status", color="error", icon="warning", @click.stop="closeFailed") {{ failed.error }}
      v-btn(color="primary", dark, class="mb-2", disabled) Disabled
    v-data-table(:headers="headers", :items="projectlist", item-key="_id" hide-actions, class="elevation-1")
      template(slot="items", slot-scope="props")
        tr
          td.justify-center.text-xs-center {{ props.item.deadline | moment('MM/DD/YY') }}
          td.justify-center.text-xs-center {{ props.item.release_date | moment('MM/DD/YY') }}
          td.justify-center.text-xs-center !
          td.justify-center.text-xs-center {{ props.item.start_date | moment('MM/DD/YY') }}
          td.title.justify-center.text-xs-center {{ props.item.title }}
          td.justify-center.text-xs-center {{ props.item.supervisor }}
          td.justify-center.text-xs-center {{ props.item.director }}
          td.justify-center.text-xs-center {{ props.item.state1 }}
          td.justify-center.text-xs-center {{ props.item.state2 }}
          td.justify-center.text-xs-center {{ props.item.state3 }}
          td.justify-center.text-xs-center {{ props.item.state4 }}
          td.justify-center.text-xs-center {{ props.item.state5 }}
          td.justify-center.text-xs-center {{ props.item.state6 }}
          td.justify-center.text-xs-center {{ props.item.state7 }}
          td.justify-center.text-xs-center {{ props.item.state8 }}
          td.justify-center.text-xs-center {{ props.item.state9 }}
          td.justify-center.text-xs-center {{ props.item.state10 }}
          td.justify-center.text-xs-center {{ props.item.state11 }}
          td.justify-center.text-xs-center {{ props.item.state12 }}
          td.justify-center.text-xs-center {{ props.item.state13 }}
          td.justify-center.text-xs-center {{ props.item.state14 }}
          td.justify-center.text-xs-center
            v-icon(small, @click.stop="") description
          td.justify-center.text-xs-center
            v-icon(small, @click="", disabled=true).mr-2 edit
            v-icon(small, @click.stop="") delete
      template(slot="no-data")
        v-alert(:value="true", color="error", icon="warning") No projects found!
</template>

<script>
import { mapGetters, mapState, mapActions } from 'vuex'

export default {
  Name: 'ProductionTracker',
  components: {
  },
  data () {
    return {
      headers: [
        { text: 'Deadline', align: 'center', value: 'deadline' },
        { text: 'Release Date', align: 'center', value: 'releasedate' },
        { text: 'Alerts', align: 'center', value: 'alerts' },
        { text: 'Start Date', align: 'center', value: 'startdate' },
        { text: 'Project', align: 'center', value: 'project' },
        { text: 'Supervisor', align: 'center', value: 'supervisor' },
        { text: 'Director', align: 'center', value: 'director' },
        { text: 'Outline', align: 'center', value: 'stage1' },
        { text: 'Storyboard', align: 'center', value: 'stage2' },
        { text: 'Animation', align: 'center', value: 'stage3' },
        { text: 'Color', align: 'center', value: 'stage4' },
        { text: 'Thumbnail', align: 'center', value: 'stage5' },
        { text: 'Pencil 1', align: 'center', value: 'stage6' },
        { text: 'Retime 1', align: 'center', value: 'stage7' },
        { text: 'Voice', align: 'center', value: 'stage8' },
        { text: 'Retime 2', align: 'center', value: 'stage9' },
        { text: 'Music', align: 'center', value: 'sstage10' },
        { text: 'Retime 3', align: 'center', value: 'stage11' },
        { text: 'SFX+', align: 'center', value: 'stage12' },
        { text: 'Pencil 2', align: 'center', value: 'stage13' },
        { text: 'Export', align: 'center', value: 'stage14' },
        { text: 'Notes', align: 'center', value: 'notes' },
        { text: 'Actions', align: 'center', value: 'actions' }
      ]
    }
  },
  computed: {
    ...mapGetters({
      store: '$_tracker/storeKey'
    }),
    ...mapState({
      projectlist (state, getters) {
        return getters['$_projects/projects']
      }
    })
  },
  methods: {
    ...mapActions({
    })
  }
}
</script>

<style lang="stylus">
.title
  font-weight bold
</style>
