<template lang="pug">
  div
    v-toolbar(flat, color="white")
      v-toolbar-title Production Tracker
      v-divider(class="mx-2", inset, vertical)
      v-spacer
      v-btn(color="primary", dark, class="mb-2", @click="dropStore") Drop Store
      v-btn(color="primary", dark, class="mb-2") Disabled
    v-data-table(:headers="headers", :items="projectlist", item-key="_id" hide-actions, class="elevation-1 narrow")
      template(slot="items", slot-scope="props")
        tr
          td.justify-center.text-xs-center
            v-tooltip(bottom)
              v-btn(depressed, round, small, :color="getDateColor(props.item)", slot="activator") {{ getDateToShow(props.item) | moment('MM/DD/YY') }}
              span Started: {{ props.item.start_date | moment('MM/DD/YYYY') }}
              span(v-if="props.item.deadline")
                br
                | Deadline: {{ props.item.deadline | moment('MM/DD/YYYY') }}
              span(v-if="props.item.finish_date")
                br
                | Finished: {{ props.item.finish_date | moment('MM/DD/YYYY') }}
              span(v-if="props.item.release_date")
                br
                | Released: {{ props.item.release_date | moment('MM/DD/YYYY') }}
          td.justify-center.text-xs-center
            v-icon(small, color="purple") perm_scan_wifi
            v-icon(color="red") perm_scan_wifi
          td.justify-center.text-xs-center {{ props.item.title }}
          td(v-if="props.item.supervisor").justify-center.text-xs-center {{ props.item.supervisor.name }}
          td(v-if="props.item.director").justify-center.text-xs-center {{ props.item.director.name }}
          //- Stage 1
          td(v-if="props.item.stage1", :bgcolor="getStageColor(props.item.stage1)").justify-center.text-xs-center.stage-cell
            | {{ splitName(props.item.stage1.primary.name) }}
            br
            | {{ getStageDays(props.item.stage1) }}
          td(v-if="!props.item.stage1", :bgcolor="getStageColor({ status: 0 })").justify-center.text-xs-center.stage-cell Not Found
          //- Stage 2
          td(v-if="props.item.stage2", :bgcolor="getStageColor(props.item.stage2)").justify-center.text-xs-center.stage-cell
            | {{ splitName(props.item.stage2.primary.name) }}
            br
            | {{ getStageDays(props.item.stage2) }}
          td(v-if="!props.item.stage2", :bgcolor="getStageColor({ status: 0 })").justify-center.text-xs-center.stage-cell Not Found
          //- Stage 3
          td(v-if="props.item.stage3", :bgcolor="getStageColor(props.item.stage3)").justify-center.text-xs-center.stage-cell
            | {{ splitName(props.item.stage3.primary.name) }}
            br
            | {{ getStageDays(props.item.stage3) }}
          td(v-if="!props.item.stage3", :bgcolor="getStageColor({ status: 0 })").justify-center.text-xs-center.stage-cell Not Found
          //- Stage 4
          td(v-if="props.item.stage4", :bgcolor="getStageColor(props.item.stage4)").justify-center.text-xs-center.stage-cell
            | {{ splitName(props.item.stage4.primary.name) }}
            br
            | {{ getStageDays(props.item.stage4) }}
          td(v-if="!props.item.stage4", :bgcolor="getStageColor({ status: 0 })").justify-center.text-xs-center.stage-cell Not Found
          //- Stage 5
          td(v-if="props.item.stage5", :bgcolor="getStageColor(props.item.stage5)").justify-center.text-xs-center.stage-cell
            | {{ splitName(props.item.stage5.primary.name) }}
            br
            | {{ getStageDays(props.item.stage5) }}
          td(v-if="!props.item.stage5", :bgcolor="getStageColor({ status: 0 })").justify-center.text-xs-center.stage-cell Not Found
          //- Stage 6
          td(v-if="props.item.stage6", :bgcolor="getStageColor(props.item.stage6)").justify-center.text-xs-center.stage-cell
            | {{ splitName(props.item.stage6.primary.name) }}
            br
            | {{ getStageDays(props.item.stage6) }}
          td(v-if="!props.item.stage6", :bgcolor="getStageColor({ status: 0 })").justify-center.text-xs-center.stage-cell Not Found
          //- Stage 7
          td(v-if="props.item.stage7", :bgcolor="getStageColor(props.item.stage7)").justify-center.text-xs-center.stage-cell
            | {{ splitName(props.item.stage7.primary.name) }}
            br
            | {{ getStageDays(props.item.stage7) }}
          td(v-if="!props.item.stage7", :bgcolor="getStageColor({ status: 0 })").justify-center.text-xs-center.stage-cell Not Found
          //- Stage 8
          td(v-if="props.item.stage8", :bgcolor="getStageColor(props.item.stage8)").justify-center.text-xs-center.stage-cell
            | {{ splitName(props.item.stage8.primary.name) }}
            br
            | {{ getStageDays(props.item.stage8) }}
          td(v-if="!props.item.stage8", :bgcolor="getStageColor({ status: 0 })").justify-center.text-xs-center.stage-cell Not Found
          //- Stage 9
          td(v-if="props.item.stage9", :bgcolor="getStageColor(props.item.stage9)").justify-center.text-xs-center.stage-cell
            | {{ splitName(props.item.stage9.primary.name) }}
            br
            | {{ getStageDays(props.item.stage9) }}
          td(v-if="!props.item.stage9", :bgcolor="getStageColor({ status: 0 })").justify-center.text-xs-center.stage-cell Not Found
          //- Stage 10
          td(v-if="props.item.stage10", :bgcolor="getStageColor(props.item.stage10)").justify-center.text-xs-center.stage-cell
            | {{ splitName(props.item.stage10.primary.name) }}
            br
            | {{ getStageDays(props.item.stage10) }}
          td(v-if="!props.item.stage10", :bgcolor="getStageColor({ status: 0 })").justify-center.text-xs-center.stage-cell Not Found
          //- Stage 11
          td(v-if="props.item.stage11", :bgcolor="getStageColor(props.item.stage11)").justify-center.text-xs-center.stage-cell
            | {{ splitName(props.item.stage11.primary.name) }}
            br
            | {{ getStageDays(props.item.stage11) }}
          td(v-if="!props.item.stage11", :bgcolor="getStageColor({ status: 0 })").justify-center.text-xs-center.stage-cell Not Found
          //- Stage 12
          td(v-if="props.item.stage12", :bgcolor="getStageColor(props.item.stage12)").justify-center.text-xs-center.stage-cell
            | {{ splitName(props.item.stage12.primary.name) }}
            br
            | {{ getStageDays(props.item.stage12) }}
          td(v-if="!props.item.stage12", :bgcolor="getStageColor({ status: 0 })").justify-center.text-xs-center.stage-cell Not Found
          //- Stage 13
          td(v-if="props.item.stage13", :bgcolor="getStageColor(props.item.stage13)").justify-center.text-xs-center.stage-cell
            | {{ splitName(props.item.stage13.primary.name) }}
            br
            | {{ getStageDays(props.item.stage13) }}
          td(v-if="!props.item.stage13", :bgcolor="getStageColor({ status: 0 })").justify-center.text-xs-center.stage-cell Not Found
          //- Stage 14
          td(v-if="props.item.stage14", :bgcolor="getStageColor(props.item.stage14)").justify-center.text-xs-center.stage-cell
            | {{ splitName(props.item.stage14.primary.name) }}
            br
            | {{ getStageDays(props.item.stage14) }}
          td(v-if="!props.item.stage14", :bgcolor="getStageColor({ status: 0 })").justify-center.text-xs-center.stage-cell Not Found
      template(slot="expand", slot-scope="props")
        v-card(flat)
          v-btn(depressed, round, small)
            span Actions will go here
      template(slot="no-data")
        v-alert(:value="true", color="error", icon="warning") No projects found!
</template>

<script>
import { mapGetters, mapState, mapActions } from 'vuex'
import _ from 'lodash'
import moment from 'moment'
import mdfSetup from 'moment-duration-format'

mdfSetup(moment)

export default {
  Name: 'ProductionTracker',
  components: {
  },
  data () {
    return {
      headers: [
        { text: 'Dates', align: 'center', value: 'dates' },
        { text: 'Alerts', align: 'center', value: 'alerts' },
        { text: 'Project', align: 'center', value: 'project' },
        { text: 'Supervisor', align: 'center', value: 'supervisor' },
        { text: 'Director', align: 'center', value: 'director' },
        { text: 'Outline', align: 'center', value: 'stage1', sortable: false },
        { text: 'Storyboard', align: 'center', value: 'stage2', sortable: false },
        { text: 'Animation', align: 'center', value: 'stage3', sortable: false },
        { text: 'Color', align: 'center', value: 'stage4', sortable: false },
        { text: 'Thumbnail', align: 'center', value: 'stage5', sortable: false },
        { text: 'Pencil 1', align: 'center', value: 'stage6', sortable: false },
        { text: 'Retime 1', align: 'center', value: 'stage7', sortable: false },
        { text: 'Voice', align: 'center', value: 'stage8', sortable: false },
        { text: 'Retime 2', align: 'center', value: 'stage9', sortable: false },
        { text: 'Music', align: 'center', value: 'sstage10', sortable: false },
        { text: 'Retime 3', align: 'center', value: 'stage11', sortable: false },
        { text: 'SFX+', align: 'center', value: 'stage12', sortable: false },
        { text: 'Pencil 2', align: 'center', value: 'stage13', sortable: false },
        { text: 'Export', align: 'center', value: 'stage14', sortable: false }
      ]
    }
  },
  computed: {
    ...mapGetters({
      store: '$_tracker/storeKey',
      statusColors: 'statusColors'
    }),
    ...mapState({
      projectlist (state, getters) {
        return getters['$_projects/projects']
      }
    })
  },
  methods: {
    ...mapActions({
    }),
    dropStore () {
      console.log(this.$store)
    },
    splitName (name) {
      let splt = name.split(' ')
      let fst = splt[0]
      let lst = splt[1].substring(0, 1)
      return fst + ' ' + lst
    },
    getDateColor (item) {
      let now = new Date()
      if (!_.isEmpty(item.deadline) && now > item.deadline) {
        return 'error'
      } else if (!_.isEmpty(item.release_date)) {
        return 'success'
      } else if (!_.isEmpty(item.finish_date)) {
        return 'warning'
      } else {
        return 'info'
      }
    },
    getDateToShow (item) {
      let now = new Date()
      if (!_.isEmpty(item.deadline) && now > item.deadline) {
        return item.deadline
      } else if (!_.isEmpty(item.release_date)) {
        return item.release_date
      } else if (!_.isEmpty(item.finish_date)) {
        return item.finish_date
      } else {
        return item.start_date
      }
    },
    getStageDays (stage) {
      let now = moment(new Date())
      let s = moment(stage.start_date)
      let f = stage.finish_date
      let r = ''
      if (_.isEmpty(f)) {
        r = moment.duration(now.diff(s)).format('M[m]D[d]')
      } else if (!_.isEmpty(f)) {
        f = moment(f)
        r = moment.duration(f.diff(s)).format('M[m]D[d]')
      }
      return r
    },
    getStageColor (stage) {
      return this.statusColors[stage.status].color
    }
  }
}
</script>

<style lang="stylus">
.narrow
  table.v-table
    thead, tbody
      td, th
        &:not(:nth-child(1)), &:first-child
          padding 2px 7px
          min-width 60px
      td
        //&.stage-cell
          //padding-left 15px
          //padding-right 5px
        //border-left 1px solid black
        //border-right 1px solid black
</style>
