<template lang="pug">
  TrackerNew
</template>

<script>
import store from './_store'
// import Tracker from './_components/ProductionTracker'
import TrackerNew from './_components/ProductionTrackerNew'

export default {
  name: 'TrackerModule',
  components: {
    TrackerNew
  },
  created () {
    const STORE_KEY = '$_tracker'
    if (!(STORE_KEY in this.$store._modules.root._children)) {
      this.$store.registerModule(STORE_KEY, store)
    }
  },
  mounted () {
    console.log(this.$store)
    this.$store.dispatch('$_crew/getList', null, { root: true })
    this.$store.dispatch('$_projects/getList', null, { root: true })
    this.$store.dispatch('$_stages/getList', null, { root: true })
    this.$store.dispatch('$_credits/getList', null, { root: true })
  }
}
</script>
