<template lang="pug">
  CrewTable
</template>

<script>
import store from './_store'
import CrewTable from './_components/CrewTable'

export default {
  name: 'CrewModule',
  components: {
    CrewTable
  },
  computed: {},
  created () {
    const STORE_KEY = '$_crew'
    if (!(STORE_KEY in this.$store._modules.root._children)) {
      this.$store.registerModule(STORE_KEY, store)
    }
  },
  mounted () {
    this.$store.dispatch('$_crew/getList')
  }
}
</script>
