<template lang="pug">
  v-dialog(v-model="cd_visible", max-width="500px")
    v-card
      v-card-title(primary-title)
        h3 Credits for {{ target.name || target.title }}
      v-list
        v-list-tile(v-for="credit in credits", :key="credit._id")
          v-list-tile-content
            v-list-tile-title {{ credit.credit }}
            v-list-tile-sub-title
              span {{ credit.credit_type }}
              v-spacer
              span {{ credit.name }}
        v-list-tile(v-if="checkEmpty(credits)", color="error")
          v-list-tile-content
            v-list-tile-title
              h3 No credits found.
      v-card-actions
        v-btn(flat, @click="$emit('finished')") Done
        v-btn(flat, @click="") Attach Credit
</template>

<script>
import { mapActions, mapState } from 'vuex'
import _ from 'lodash'

export default {
  name: 'CreditDialog',
  data () {
    return {
    }
  },
  props: ['store'],
  computed: {
    ...mapState({
      dialogs (state, getters) {
        return getters[this.store + '/viewDialog']
      },
      target (state, getters) {
        return getters[this.store + '/target']
      }
    }),
    credits () {
      return this.target.credits
    },
    cd_visible: {
      get () { return this.dialogs.credits },
      set (val) { !val && this.dialog({ dialog: 'credits', target: {}, display: false }) }
    },
    empty () { return !this.target.credits }
  },
  watch: {
  },
  methods: {
    ...mapActions({
      dialog (dispatch, payload) {
        return dispatch(this.store + '/dialog', payload)
      }
    }),
    checkCredits () { console.log(this.credits) },
    checkEmpty (obj) {
      return _.isEmpty(obj)
    }
  }
}
</script>
