<template lang="pug">
  v-dialog(v-model="rm_visible", persistent, max-width="500px")
    v-card
      v-card-title
        h3 {{ rmv.question }}
      v-card-actions
        v-btn(:color="rmv.ycolor", flat, :loading="working", :disabled="working", @click.native="$emit('confirmed')") Confirm
        v-btn(:color="rmv.ncolor", flat, :disabled="working", @click.native="$emit('cancelled')") Cancel
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  data () {
    return {
    }
  },
  props: ['store'],
  computed: {
    ...mapState({
      dialogs (state, getters) {
        return getters[this.store + '/viewDialog']
      },
      working (state, getters) {
        return getters[this.store + '/working']
      },
      info (state, getters) {
        return getters[this.store + '/info']
      }
    }),
    rmv () { return this.info.remove },
    rm_visible: {
      get () { return this.dialogs.remove },
      set (val) { !val && this.dialog({ dialog: 'remove', target: {}, display: false }) }
    }
  },
  methods: {
    ...mapActions({
      dialog (dispatch, payload) {
        return dispatch(this.store + '/dialog', payload)
      }
    })
  }
}
</script>
