<template lang="pug">
  v-dialog(v-model="cf_visible", max-width="500px")
    v-card
      v-card-text
        v-form(ref="newCrew", v-model="cfValid", lazy-validation)
          v-text-field(v-model="name", :rules="nameRules", :counter="20", label="Name", required)
          v-radio-group(v-model="interval", row, required)
            v-radio(label="Weekly", value="Weekly")
            v-radio(label="Monthly", value="Monthly")
          v-alert(:value="oops", type="error") Server failed to process addition.
          v-alert(:value="oops2", type="error") Something went wrong.
          v-btn(:disabled="!cfValid", @click="submit", flat, :loading="working") Add
          v-btn(color="red", flat, @click="$emit('cancelled')", :disabled="working") Cancel
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import _ from 'lodash'

export default {
  name: 'CrewForm',
  data () {
    return {
      cfValid: false,
      name: '',
      nameRules: [
        v => !!v || 'Name is required',
        v => (v && v.length <= 20) || 'Name must be less than 20 characters'
      ],
      interval: 'Weekly',
      oops: false,
      oops2: false
    }
  },
  computed: {
    ...mapGetters({
      dialogs: '$_crew/viewDialog',
      working: '$_crew/working'
    }),
    cf_visible: {
      get () { return this.dialogs.add },
      set (val) { !val && this.dialog({ dialog: 'add', target: {}, display: false }) }
    }
  },
  watch: {
    cf_visible (val) {
      if (!val) { this.$refs.newCrew.reset() }
    }
  },
  methods: {
    ...mapActions({
      add: '$_crew/add',
      dialog: '$_crew/dialog'
    }),
    thSubmit () {
      _.throttle(() => {
        console.log('Add button pressed')
        this.submit()
      }, 1000)
    },
    submit () {
      if (this.$refs.newCrew.validate()) {
        this.add({ name: this.name, interval: this.interval })
      }
    }
  }
}
</script>
