<template lang="pug">
  div
    v-toolbar(flat, color="white")
      v-toolbar-title Crew Members
      v-divider(class="mx-2", inset, vertical)
      v-spacer
      v-alert(:value="failed.status", color="error", icon="warning", @click.stop="closeFailed") {{ failed.error }}
      v-btn(color="primary", dark, class="mb-2", @click.native.stop="dialog({ dialog: 'add', target: {}, display: true })") Add Crew
      CrewForm(@cancelled="dialog({ dialog: 'add', target: {}, display: false })")
    v-data-table(:headers="headers", :items="list", hide-actions, class="elevation-1")
      template(slot="items", slot-scope="props")
        td {{ props.item.name }}
        td.text-xs-center {{ props.item.interval }}
        td.text-xs-center {{ props.item.queue }}
        td.text-xs-center {{ props.item.completed }}
        td(class="justify-center")
          v-icon(small, @click.stop="dialog({ dialog: 'credits', target: props.item, display: true })") account_box
        td(class="justify-center")
          v-icon(small, @click.stop="dialog({ dialog: 'notes', target: props.item, display: true })") description
        td(class="justify-center")
          v-icon(small, @click="", disabled=true).mr-2 edit
          v-icon(small, @click.stop="dialog({ dialog: 'remove', target: props.item, display: true })") delete
      template(slot="no-data")
        v-alert(:value="true", color="error", icon="warning") No crew members found!
    CreditDialog(:store="store", @finished="dialog({ dialog: 'credits', target: {}, display: false })")
    NotesDialog(:store="store", @finished="dialog({ dialog: 'notes', target: {}, display: false })")
    RemoveDialog(:store="store", @confirmed="remove", @cancelled="dialog({ dialog: 'remove', target: {}, display: false })")
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import CreditDialog from '@/components/CreditDialog'
import NotesDialog from '@/components/NotesDialog'
import RemoveDialog from '@/components/RemoveDialog'
import CrewForm from './CrewForm'

export default {
  name: 'CrewTable',
  components: {
    CreditDialog,
    NotesDialog,
    RemoveDialog,
    CrewForm
  },
  data () {
    return {
      headers: [
        { text: 'Name', align: 'left', value: 'name' },
        { text: 'Interval', value: 'interval' },
        { text: 'Queue', value: 'queue' },
        { text: 'Completed', value: 'completed' },
        { text: 'Credits', value: 'credits', sortable: false },
        { text: 'Notes', value: 'notes', sortable: false },
        { text: 'Actions', value: 'name', sortable: false }
      ]
    }
  },
  computed: {
    ...mapGetters({
      list: '$_crew/crewmembers',
      failed: '$_crew/failErr',
      fullStore: '$_crew/fullStore',
      store: '$_crew/storeKey'
    })
  },
  methods: {
    ...mapActions({
      dialog: '$_crew/dialog',
      remove: '$_crew/remove',
      closeFailed: '$_crew/closeFailed'
    }),
    dumpStore () {
      console.log(this.fullStore)
    }
  }
}
</script>
