<template lang="pug">
  div
    v-toolbar(flat, color="white")
      v-toolbar-title Credits
      v-divider(class="mx-2", inset, vertical)
      v-spacer
      v-alert(:value="failed.status", color="error", icon="warning", @click.stop="closeFailed") {{ failed.error }}
      v-btn(color="primary", dark, class="mb-2", @click="dropStore") Drop Store
      v-btn(color="primary", dark, class="mb-2", @click.native.stop="dialog({ dialog: 'add', target: {}, display: true })") Add Credit
      CreditForm(@cancelled="dialog({ dialog: 'add', target: {}, display: false })")
    v-data-table(:headers="headers", :items="list", hide-actions, class="elevation-1")
      template(slot="items", slot-scope="props")
        td {{ props.item.role }}
        td.text-xs-center {{ props.item.type }}
        td.text-xs-center {{ props.item.name }}
        td.text-xs-center.justify-center
          v-btn(flat, v-if="props.item.crew_id") {{ props.item.crew_id.name }}
          v-btn(flat, v-if="!props.item.crew_id", disabled=true) None
        td.text-xs-center.justify-center
          v-icon(small, @click.stop="dialog({ dialog: 'notes', target: props.item, display: true })") description
        td.text-xs-center.justify-center
          v-icon(small, @click="", disabled=true).mr-2 edit
          v-icon(small, @click.stop="dialog({ dialog: 'remove', target: props.item, display: true })") delete
      template(slot="no-data")
        v-alert(:value="true", color="error", icon="warning") No credits found!
    NotesDialog(:store="store", @finished="dialog({ dialog: 'notes', target: {}, display: false })")
    RemoveDialog(:store="store", @confirmed="remove", @cancelled="dialog({ dialog: 'remove', target: {}, display: false })")
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import NotesDialog from '@/components/NotesDialog'
import RemoveDialog from '@/components/RemoveDialog'
import CreditForm from './CreditForm'

export default {
  name: 'CreditTable',
  components: {
    NotesDialog,
    RemoveDialog,
    CreditForm
  },
  data () {
    return {
      headers: [
        { text: 'Role', align: 'left', value: 'role' },
        { text: 'Type', align: 'center', value: 'type' },
        { text: 'Name', align: 'center', value: 'name' },
        { text: 'Crew Member', align: 'center', value: 'crewmember' },
        { text: 'Notes', align: 'center', value: 'notes', sortable: false },
        { text: 'Actions', align: 'center', value: 'name', sortable: false }
      ]
    }
  },
  computed: {
    ...mapGetters({
      list: '$_credits/creditlist',
      failed: '$_credits/failErr',
      fullStore: '$_credits/fullStore',
      store: '$_credits/storeKey'
    })
  },
  methods: {
    ...mapActions({
      dialog: '$_credits/dialog',
      remove: '$_credits/remove',
      closeFailed: '$_credits/closeFailed'
    }),
    dropStore () {
      console.log(this.$store)
    }
  }
}
</script>
