<template lang="pug">
  v-dialog(v-model="cr_visible", max-width="500px")
    v-card
      v-card-text
        v-form(ref="newCredit", v-model="crValid", lazy-validation)
          v-text-field(v-model="role", :rules="roleRules", :counter="20", label="Role", required)
          v-text-field(v-model="name", :rules="nameRules", :counter="20", label="Name", required)
          v-switch(v-model="crewSwitch", label="Attach to crew?")
          v-select(v-model="crewMember", :items="crew", item-text="name", item-value="_id", label="Crew Member", :disabled="!crewSwitch")
          v-btn(:disabled="!crValid", @click="submit", flat, :loading="working") Add
          v-btn(color="red", flat, @click="$emit('cancelled')", :disabled="working") Cancel
</template>

<script>
import { mapGetters, mapActions, mapState } from 'vuex'
import _ from 'lodash'

export default {
  name: 'CreditForm',
  data () {
    return {
      crValid: false,
      role: '',
      name: '',
      crewSwitch: false,
      crewMember: '',
      roleRules: [
        v => !!v || 'Role is required',
        v => (v && v.length <= 20) || 'Role must be less than 20 characters'
      ],
      nameRules: [
        v => !!v || 'Name is required',
        v => (v && v.length <= 20) || 'Name must be less than 20 characters'
      ]
    }
  },
  computed: {
    ...mapGetters({
      dialogs: '$_credits/viewDialog',
      working: '$_credits/working'
    }),
    ...mapState({
      crew (state, getters) {
        return getters['$_crew/crewmembers']
      }
    }),
    cr_visible: {
      get () { return this.dialogs.add },
      set (val) { !val && this.dialog({ dialog: 'add', target: {}, display: false }) }
    }
  },
  watch: {
    cr_visible (val) {
      if (!val) { this.$refs.newCredit.reset() }
    }
  },
  methods: {
    ...mapActions({
      add: '$_credits/add',
      dialog: '$_credits/dialog'
    }),
    thSubmit () {
      _.throttle(() => {
        console.log('Add button pressed')
        this.submit()
      }, 1000)
    },
    submit () {
      let crewId = null
      if (this.$refs.newCredit.validate()) {
        if (this.crewSwitch) { crewId = this.crewMember }
        this.add({ role: this.role, name: this.name, crew_id: crewId })
      }
    }
  }
}
</script>
