<template lang="pug">
  StageTable
</template>

<script>
import store from './_store'
import StageTable from './_components/StageTable'

export default {
  name: 'StageModule',
  components: {
    StageTable
  },
  created () {
    const STORE_KEY = '$_stages'
    if (!(STORE_KEY in this.$store._modules.root._children)) {
      this.$store.registerModule(STORE_KEY, store)
    }
  },
  mounted () {
    this.$store.dispatch('$_stages/getList')
  }
}
</script>
